$color-ligth-green:rgba(174, 177, 41, 0.733);
$color-gray:gray;
$color-gray-transporent:rgba(128, 128, 128, 0.548);
$color-white:white;
$color-black:black;
$color-red:rgba(230, 13, 13, 0.452);
$color-antiquare:antiquewhite;
$color-ligth-black-modal:rgba(0,0,0,0.4);
$color-ligth-green-black:rgba(131, 133, 25, 0.418);