@import '../../common/styles/colors';
@import '../../common/styles/template';
.container_tasks{
  max-width: 1400px;
  margin: auto;
}
.tasks_inner{
  display: flex;
  flex-wrap: wrap;
  max-width: inherit;
  margin: 30px 0;
  gap:25px;
  
}
.tasks_item{
  max-width: 400px;
  width: 100%;
  padding: 5px 10px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  @extend %box-shadow;

}
.tasks_item:hover{
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(1.1);
}
.task_id{
  font-size: 15px;
  color:$color-ligth-green;

}
.task_text{
  font-weight: 900;
  color:rgb(121, 121, 121);
  font-size: 1.3rem;
  border-radius: 20px;
  padding: 5px 15px;
  font-style: italic;
  @extend %font-monserat;
}
.date{
  color:$color-ligth-green;
  padding: 0 15px;
  font-size: 15px;
  margin-top: -10px;

}
@media screen and (max-width:1400px) {
  .container_tasks{
    max-width: 1200px;
  }
  .tasks_item{
    max-width: 340px;
  }
}

@media screen and (max-width:1100px) {
  .tasks_inner{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items:center;
    margin: 20px 40px;
  }
  .tasks_item{
    max-width: 980px;
    width: 100%;
  }
}