@import "../../common/styles/colors";

.nav_list{
  display: flex;
  justify-content: space-around;
  padding: 10px 60px;
  height: 60px;
  background-color: $color-ligth-green;
}

.link_logo{
  text-decoration: none;
  display: block;
}
.item{
  display: flex;
  gap: 40px;
}
@media screen and (max-width:445px) {
  .nav_list{
    justify-content: space-between;
  }
  .item{
    gap:15px;
  }
}