@import "../../common/styles/colors";
@import "../../common/styles/template";
.container{
  max-width: 1200px;
  margin: 40px auto;
}

.card_container{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 440px;
  margin: 0 auto;
  border-radius:20px;
  background-color: rgba(241, 241, 241, 0.89);
  padding: 40px;

}

.search_inner{
  text-align: center;
  margin: 0 auto;
  position: relative;

}
.lupa{
  position: absolute;
  top: 29px;
  left: 35px;
  
}

.search_user{
  width: 70%;
  padding: 10px 35px;
  margin: 20px auto;
  border-radius:9px;
  border:3px solid $color-ligth-green;
  outline: none;
}
.search_user:focus{
    border:3px solid $color-ligth-green;
}
.skeleton{
  margin: 20px;
  text-align: center;
}
.card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  // width: 100%;
  // margin: 0 auto;
  margin-bottom: 20px;
  border-radius:10px;

  background-color: rgba(241, 241, 241, 0.89);
  @extend %box-shadow;

}
.card:hover{
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(1.1);
}
.card_avatar_wrapper{
  width: 50px;
  height: 50px;
  position: relative;
}
.card_avatar_wrapper > *{
  width: 50px;
  height: 50px;
  top:0;
  left:5px;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius:50%;

}
.default_image{
  display: flex;
  justify-content: center;
  align-items:center;
  left: 15.5px;
  z-index: 0;
  background-color:black;
  color:white;
  border:3px solid $color-ligth-green;

}

.avatar{
  width: 50px;
  height: 50px;
  border-radius:50%;
  border:3px solid $color-ligth-green;
  object-fit: cover;
  margin-left: 10px;
}


.info{
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 200px;
  // width: 100%;
  margin-left: 30px;
}

.fullname{
  font-size: 20px;
  color:grey;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @extend %font-monserat;

}
.name{
  font-weight: 900;
  color:black;
  margin-top: -5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @extend %font-monserat;
  font-style: italic;

}
.button_configuration{
  display: flex;
}
.delete,
.update{
  border:none;
  font-weight: 900;
  cursor: pointer;
  color:$color-ligth-green;
  margin-right: 5px;
}

.delete:hover{
  margin-top: 4px;
}
.update:hover{
  margin-top: 4px;
}
.navigate{
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 20px;
}

.selectedPage{
  font-weight: bold;
}

.navigate_button{
  background-color: $color-ligth-green;
  color:white;
  font-size: 1.5rem;
  border:none;
  border-radius:5px;
  padding: 0 15px;
  cursor:pointer;
}
.navigate_button:hover{
  margin-top:2px ;
}

.navigate_button:disabled{
  background-color: $color-ligth-green-black;
}
.currentPage{
  font-weight: bold;
  color:white;
  background-color: $color-ligth-green;
  padding: 4px;
  border-radius:5px;
}
@media screen and (max-width:540px) {
  .card_container{
    max-width: 400px;
    width: 340px;
    align-items:center;
  }
  .search_inner{
    margin-left: -20px;
  }
  .search_user{
    width: 50%;
  }
  .lupa{
    position: absolute;
    top: 29px;
    left: 18%;
  }
  .card{
    max-width: 300px;
    width: 100%;
    padding: 10px 10px;
  }
  .info{
    max-width: 120px;
    margin-left: 0;
  }
  
  .fullname{
    font-size: 14px;
  }
  .name{
    font-size: 12px;
  }
  .update{
    margin-left: -10px;
  }
}
@media screen and (max-width:445px) {
  .card_container{
    max-width: 400px;
    width: 250px;
    align-items:center;
  }
  .search_inner{
    margin-left: 0px;
  }
  .search_user{
    width: 64%;
  }
  .lupa{
    position: absolute;
    top: 29px;
    left: 7%;
  }
  .card{
    max-width: 300px;
    width: 100%;
    padding: 10px 15px;
  }
  .info{
    max-width: 100px;
  }
  
  .fullname{
    font-size: 14px;
  }
  .name{
    font-size: 12px;
  }
  .update{
    margin-left: -10px;
  }
}