@import "../../../common/styles/colors";
@import "../../../common/styles/template";

.tasks_list_item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border-bottom:1px solid rgba(128, 128, 128, 0.349);
  overflow: hidden;

}
.content_text{
  display: flex;
  margin-bottom: -1%;
  font-size: 1.4rem;
  @extend %font-monserat;
  color:$color-gray;
  font-weight: normal;
}

.delete_task_button,
.update_task_button{
  background-color:transparent;
  border:none;
  font-weight: 900;
  font-size: 1.5rem;
  cursor: pointer;
  color:$color-ligth-green;
}
.date_info{
  font-size: 15px;
  color:$color-ligth-green;
}
.configure_button_task{
  display: flex;
  margin-top:-15px;
  gap:5px
}
@media screen and (max-width:870px){
  .content_text{
    font-size: 1rem;
  }
  .date_info{
    font-size: 12px;
  }
  .configure_button_task{
    margin-top: -7px;
  }
  .tasks_list{
    padding: 0 10px;
  }
}